@model LoginViewModel
@{
    ViewData["Title"] = "View";
}
    
        <div class="row form-group" >
            <h1>Please enter your Student Id</h1>
        </div>

            @using (Html.BeginForm("Login", "Login"))
            {
                <div class="row form-group">
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-4">
                        <input type="submit" class="form-control btn-primary" />
                    </div>
                </div>
            }
